<!DOCTYPE html>
<html>
    <head>
        <title>HackerNews Top Stories</title>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-title">
                   &nbsp;<i class="fa fa-bolt"></i>&nbsp;HackerNews Top Stories
                </div>
            </nav>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
                    <aside class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <article class="sidebar">

                            <div class="rTable">
                                <div class="rTableRow">
                                    <div class="rTableHead">ID</div>
                                    <div class="rTableHead">Story</div>
                                </div>
                                <% for(var s=0; s < stories.length; s++) { %>
                                    <div class="rTableRow">
                                        <div class="rTableCell id">
                                            <%= s + 1 %>
                                        </div>
                                        <div class="rTableCell">
                                            <span class="title"><a href="<%= stories[s].url %>" target="external"><%= stories[s].title %></a></span><br>
                                            &nbsp;<span class="subtitle"> - Posted: <span class="title"><%= moment.unix(stories[s].time).format( 'ddd, DD-MM-YYYY HH:mm:ss') %></span> by <span class="title"><%= stories[s].by %></span></span>
                                        </div>
                                    </div>
                                <% } %>
                            </div>

                        </article>
                    </aside>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            </div>
        </div>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>