
.navbar {
    background-color: #10054E;
}
.navbar-title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: #EEEEEE;
    font-weight: 300;
    font-size: 36px;
}
.title {
    font-weight: bold;
}
.subtitle {
    font-style: italic;
}
.id {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    font-weight: bold;
}
.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableCell {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
}
.rTableHead {
    background-color: rgb(164, 237, 247);
    display: table-cell;
    font-size: 20px;
    padding: 3px 10px;
    border: 1px solid #999999;
    text-align: center;
    font-weight: bold;
}